<Template name="contentInicial">
<div id="card-stats">
        <div class="row">
	<div class="col s12 m6 l6">
      <h4 class="header">Perfil de usuario</h4>
      <div id="profile-card" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/user-bg.jpg" alt="user bg">
        </div>
        <div class="card-content">
          <img src="images/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image">
          <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
            <i class="mdi-editor-mode-edit"></i>
          </a>

          <span class="card-title activator grey-text text-darken-4">Nombre</span>
          <p><i class="mdi-action-perm-identity"></i> Rol</p>
          <p><i class="mdi-action-perm-phone-msg"></i> Nro celular</p>
          <p><i class="mdi-communication-email"></i> email</p>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">nombre <i class="mdi-navigation-close right"></i></span>
          <p>Esta es la informacion de usuario</p>
          <p><i class="mdi-action-perm-identity"></i> Rol</p>
          <p><i class="mdi-action-perm-phone-msg"></i> Nro de celular</p>
          <p><i class="mdi-communication-email"></i> email</p>
          <p><i class="mdi-social-cake"></i> Fecha de nacimiento</p>
          <p><i class="mdi-device-airplanemode-on"></i> Pais</p>
        </div>
      </div>
    </div>
    </div>
    </div>
</Template>